<h1>Videoconfigs#index</h1>
<p>※ブログの設定内容</p>
<table>
    <tr><th>Title</th>
        <td><%= @videoconfig.title %></td></tr>
    <tr><th>Subtitle</th>
        <td><%= @videoconfig.subtitle %></td></tr>
    <tr><th>Style Name</th>
        <td><%= @videoconfig.stylename %></td></tr>
    </tr>
</table>
<p><a href="/videoconfigs/edit">編集画面＞＞</a></p>